.banner-section{
  background-image: url('../assets/images/main-banner.png');
   background-position:center;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  height:auto;
  width: 100%;
  padding-bottom:8rem ;

}

.container-tight{
  padding-left: 10rem!important;
  padding-right: 10rem!important;
}


.banner-section h1 {
   color: #ffffff;
  font-weight: bold;
  font-size: 3.8rem; /* default for large screens */
}

@media (max-width: 900px) {  /* tablets */
  .banner-section h1 {
    font-size: 2rem;
  }
}

@media (max-width: 576px) {  /* mobile */
  .banner-section h1 {
    font-size: 1.6rem;
  }
}

.banner-section span{
      color: #EBDC4E;
}

.banner-section p {
  font-size: 1.9rem;
  margin-top: 3rem;
  font-weight:500;
 color: #ffffff;

 
}

@media (max-width: 900px) {
    .banner-section p{
        margin-top: 3rem;
        font-size: 1rem;
    }
}



.login-btn1 {
  border: none;
  color: #000000;
  background-color: white;
  font-size: 1rem;
  font-weight:bold;
  padding: 0.8rem 1.5rem;
  border-radius: 8px;
  margin-top: 2rem;
}
