.signup-button {
    border: none;
    color:white;
    font-size: 0.9rem;
    font-weight: 600;
   padding: 0.8rem 1.5rem;
    border-radius: 8px;
    
}


.signup-button:hover {
        background-color:#ffc107; 
        border-color: #ffc107;
        color:black !important;
    }
