.banner {
  background-color: #fcfae9;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}

/* Left content */
.left-content {
  z-index: 2;
  text-align: left;
}

.user-name {
  font-weight: 500;
  color: #444;
}

.welcome-text {
  color: #716810;
  font-weight: 700;
  font-size: 2rem;
}

.desc-text {
  font-size: 1rem;
  max-width: 500px;
}

/* Right graphic */
.right-graphic {
  position: relative;
  height: 280px;
  top: 7rem;
}

/* Triangles */
.triangle {
  position: absolute;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  border-radius: 36px 0 0 0;
}

.layer3 {
  width: 480px;
  height: 480px;
  background: #f9f6d2;
  top: 10px;
  opacity: 0.9;
}

.layer2 {
  width: 370px;
  height: 370px;
  background: #f7f1bd;
  top: 40px;
  opacity: 0.9;
}

.layer1 {
  width: 260px;
  height: 260px;
  background: #f1e890;
  top: 70px;
}

/* Pilot image */
.pilot-img {
  top: 38%;
  left: 50%;
  transform: translate(-50%, -60%);
  width: 310px;
  height: auto;
  z-index: 3;
}

/* Button */
.subscribe-button {
  padding: 0.8rem 2.5rem;
}

/* Responsive */
@media (max-width: 767px) {
  .right-graphic {
    display: none !important; /* hide on small screens */
  }

  .left-content {
    text-align: left !important; /* keep left alignment */
  }
}

@media (max-width: 1390px) {
  .banner{
    padding-top:1.5rem  !important ;
    padding-bottom: 1.5rem !important;
  }
}

@media (max-width: 900px) {
    .banner .desc-text{
        font-size: 0.9rem;
        font-weight: 600;
    }
}
