

.dashnavbar {
 padding-left: 3rem;
 padding-right: 8rem;
}

@media(max-width:900px){
  .dashnavbar{
   padding-right:2rem !important;
  }  
}

.dashnavbar-box{
  background-color: white !important;
}

.details-hover:hover{
  color: #ffc107 !important;
}