

.dashnavbar {
 padding-left: 3rem;
 padding-right: 8rem;
}

@media(max-width:900px){
  .dashnavbar{
   padding-right:2rem !important;
  }  
}

.dashnavbar-box{
  background-color: white !important;
}

.details-hover:hover{
  color: #ffc107 !important;
}

.dash-navbar__badge {
  font-size: 0.65rem;
  font-weight: 600;
  background-color: red;
  color: #fff !important;
}
