.leave-overlay {
  position: fixed;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  background: rgba(0, 0, 0, 0.65); 
  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 9999;
}

.leave-modal-box {
  background: #fff;
  border-radius: 12px;
  padding: 35px 40px;
  width: 90%;
  max-width: 480px;
  text-align: center;
}

.leave-title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 30px;
}

.leave-btn-row {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.leave-exit-btn {
  background: #000;
  color: #fff;
  padding: 12px 28px;
  border-radius: 8px;
  font-weight: 600;
  border: none;
}

.leave-join-btn {
  background: #fff;
  border: 1px solid #000;
  padding: 12px 28px;
  border-radius: 8px;
  font-weight: 600;
}
