.point-section {
  margin-top: 7rem;
  gap: 1.5rem;
  align-items: center;
  background: #ffffff;
  border-radius: 18px;
  padding: 2rem;
}
.point-section h2 {
  /* font-family: 'montserrat-bold', serif; */
  font-size: 3rem !important;
  margin-top: 2rem;
  font-weight: bold;
}
/* @media (max-width: 1300px){
    .points-section h2 {
        font-size: 2.5rem !important;
        margin-top: 1.5rem;
    }
} */

@media (max-width: 900px) {
    .point-section h2 {
        font-size: 2rem !important;
        margin-top: 1.5rem;
    }
}
.point-section p {
  font-size: 1rem !important;
  margin-top: 2rem;
  font-weight:600;
}

@media (max-width: 900px) {
    .point-section p {
        font-size: 1rem !important;
        margin-top: 1.5rem;
    }
}
