
.rating-section h1 {
  font-size: 7rem;
  font-weight: bold;

}
@media (max-width: 900px) {
    .rating-section h1 {
        font-size:5rem;
    }
}
.rating-section .col-md-5{
  border-right: 1px solid #B1AFAF;
  padding-left: 0rem !important;
}

@media (max-width: 900px) {
    .rating-section .col-md-5 {
      padding-left: 2rem !important;
    }
}



.rating-section .col-md-5 p{
  font-size: 1.4rem !important;
}

@media (max-width: 900px) {
    .rating-section .col-md-5 p {
        font-size: 1.1rem !important;
    }
}

@media (max-width: 900px) {
    .rating-section .col-md-5 .star {
      width: 1.3rem !important;
    }
}



@media (max-width: 900px) {
  .rating-section .col-md-5 {
    border-right: none; 
  }
}

.rating-section .col-md-7{
  padding-left: 6rem;
  margin-top: 1rem;
  font-size: 1.4rem !important;
  font-weight:600;
}

.rating-section .col-md-7{
  height: auto;
}

@media (max-width:900px){
    .rating-section .col-md-7 {
        padding-left: 1rem;
    }
}

.rating-section .col-md-7 span img {
  width: 1.4rem !important;
 
}

@media (max-width: 900px) {
    .rating-section .col-md-7 span {
       font-size: 1.1rem !important;
    }
}
