.pe-strip {
  padding: 15px 12px 25px;
  text-align: center;
  background: #ffffff;
  font-weight: 500;
}

.pe-strip__line {
  margin: 0;
  color: #9aa0a6;
  font-size: 1rem;
  line-height: 1.6;
  letter-spacing: .2px;
}

.pe-strip__brand {
  color: #9aa0a6;
}

