.subject-section {
  margin-top: 7rem;
}



@media (max-width: 900px) {
  .subject-section .main-title {
    font-size: 2rem !important;
  }
}

.main-title {
  font-size: 3rem;
  font-weight: bold;
}

.sub-title {
  margin-top: 1rem;
  line-height: 1.4rem;
  font-size: 1.2rem !important;
  font-weight: 600;
}

@media (max-width: 900px) {
  .subject-section .sub-title {
    font-size: 1rem !important;
  }
}


@media (max-width: 900px) {
  .subject-section {
    padding: 0rem 2rem 0rem 2rem !important;
  }
}

.subject-section .container .btn-dark:hover {
  background-color: #ffc107;
  border-color: #ffc107;
  color: black;
}

.subject-section .container .btn-link:hover {
  color:var(--link-color);
}

.subject-icon{
    border-radius: 12px;
}

.subject-card {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.subject-footer {
  margin-top: auto;
}


