.start-exploring:hover{
 transition: 0.5s;
 box-shadow :0px 2px 21px #e8e8e8ff;
}

.start-exploring Button{
    width: 100% !important;
}

.subject-card {
  transition: all 0.3s ease;
}

.subject-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.subject-carousel .carousel-indicators [data-bs-target] {
  background-color: #000;
}

.subject-carousel .carousel-control-prev-icon,
.subject-carousel .carousel-control-next-icon {
  filter: invert(1);
}
