.mock-view {
  display: flex;
  justify-content: center;
}

.mock-card {
  width: 100%;
  background: #fff;
  border-radius: 10px;
  padding: 30px;
}

.mock-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mock-tag {
  background: #000;
  color: #fff;
  padding: 8px 20px;
  border-radius: 6px;
  font-weight: 600;
}

.mock-instructions li {
  margin-bottom: 15px;
}

.mock-legend {
  margin-top: 10px;
  display: flex;
  gap: 20px;
}

.mock-legend-item {
  display: flex;
  align-items: center;
  gap: 8px;
}

.mock-legend-swatch {
  width: 18px;
  height: 18px;
  border-radius: 4px;
  display: inline-block;
  border: 1px solid #ccc;
}

.mock-legend-attempted .mock-legend-swatch {
  background: #a7f3a7;
}

.mock-legend-unattempted .mock-legend-swatch {
  background: #ffeaa7;
}

.mock-legend-unvisited .mock-legend-swatch {
  background: #ffffff;
}

.mock-info-box {
  margin: 20px 0;
  display: flex;
  gap: 40px;
}

.mock-info-item {
  background: #f4f4f4;
  padding: 15px 20px;
  border-radius: 8px;
}

.mock-timer-section {
  background: #fff1d6;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.mock-timer-icon {
  font-size: 50px;
}

.mock-start-btn {
  width: 100%;
  background: #000;
  color: #fff;
  padding: 15px;
  margin-top: 20px;
  border-radius: 8px;
  font-size: 18px;
}

.mock-start-btn:disabled {
  background: #999;
}



/* Time + Total Questions Row */
.view-details__info-row {
  display: flex;
  align-items: center;
  gap: 60px;
  margin-top: 24px;
  margin-left: 4px;
}

.view-details__info-item {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.view-details__info-label {
  font-weight: 600;
  color: #2e2e2e;
  display: flex;
  align-items: center;
  gap: 6px;
}

.view-details__info-value {
  font-weight: 700;
  margin-left: 26px;
}

/* TIMER BOX */
.view-details__timer-box {
  margin-top: 26px;
  display: flex;
  gap: 20px;
  padding: 26px;
  background: #ffeed4;
  border-radius: 12px;
}

.view-details__timer-icon {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: transparent;
}

.view-details__timer-content {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.view-details__timer-title {
  font-size: 0.95rem;
  font-weight: 600;
  color: #2e2e2e;
  margin: 0;
}

.view-details__timer-options {
  display: flex;
  gap: 30px;
  margin-top: 6px;
}

.view-details__timer-option {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 600;
  color: #2e2e2e;
}
