.bookmark-card{
     background-color: #ffffff;
  color: black;
}

.bookmark-card:hover{
    transition: 0.5s;
    box-shadow: 0px 2px 21px #E8E8E8;

} 

.bookmark-card h3{
  font-size: 1.75rem !important;
  font-weight: 400 !important;;
}


.results-link {
  position: relative;
  display: inline-block;
  padding-bottom: 5px;
  color: #333;
}

.results-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -8px;       /* underline distance */
  width: 0%;          /* HIDDEN by default */
  height: 3px;
  background-color: black;
  transition: width 0.3s ease;
}

/* ACTIVE TAB — underline visible */
.results-link.active-tab::after {
  width: 100%;
}
