.result-container {
  width: 90%;
  margin: auto;
  font-family: "Poppins", sans-serif;
}

.breadcrumb {
  margin: 15px 0;
  opacity: 0.8;
  font-size: 14px;
}

.breadcrumb .active {
  font-weight: bold;
}

.test-title-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  padding: 25px;
  border-radius: 10px;
  margin-bottom: 25px;
  border: 1px solid #f1f1f1;
}

.sub-heading {
  margin: 0;
  font-size: 14px;
  opacity: 0.7;
}

.test-title {
  margin: 0;
  font-size: 24px;
}

.right-section {
  text-align: right;
}

.reattempt-btn {
  padding: 8px 20px;
  background: #ffffff;
  border: 1px solid #cecece;
  border-radius: 6px;
  cursor: pointer;
}

.date-text {
  font-size: 12px;
  margin-top: 5px;
  opacity: 0.7;
}

/* Result Box */
.result-box {
  display: flex;
  justify-content: space-between;
  background: #fdeaea;
  padding: 30px;
  border-radius: 10px;
}

.result-left {
  width: 60%;
}

.result-heading {
  margin: 0;
  color: #d15b5b;
}

.fail-text {
  margin: 10px 0;
  font-size: 28px;
  color: #d15b5b;
}

.motivational-text {
  margin: 0;
  opacity: 0.8;
}

.result-right {
  text-align: right;
}

.percentage-title {
  margin: 0;
  color: #d15b5b;
}

.percentage-value {
  font-size: 32px;
  margin: 10px 0;
  color: #d15b5b;
}

.passing-info {
  opacity: 0.7;
}

.sad-face {
  font-size: 50px;
  margin-top: 10px;
}

/* Stats Section */
.stats-box {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 25px;
}

.stat-card {
  background: #fff;
  padding: 15px 25px;
  border-radius: 10px;
  border: 1px solid #f1f1f1;
  width: 170px;
}

.stat-title {
  opacity: 0.7;
}

.stat-value {
  font-size: 24px;
  margin-top: 5px;
}

.green { color: #00aa00; }
.red { color: red; }
.orange { color: #ff8800; }

.solution-btn {
  margin-left: auto;
  background: #000;
  color: #fff;
  padding: 12px 28px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

/* Review Section */
.review-section {
  margin-top: 40px;
  padding: 20px 0;
}

.review-heading {
  margin: 0;
}

.sub-text {
  opacity: 0.7;
}

.review-input {
  width: 100%;
  height: 120px;
  margin-top: 20px;
  border-radius: 10px;
  padding: 15px;
  border: 1px solid #ccc;
  outline: none;
  resize: none;
}
